[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/home/
ConditionPathExists=/etc/kubernetes/kubelet.conf

[Service]
EnvironmentFile=-/etc/kubernetes/provider-id.env
ExecStart=/usr/bin/kubelet \
  --config=/etc/kubernetes/kubelet/config.yaml \
  --kubeconfig=/etc/kubernetes/kubelet.conf \
  --provider-id=${PROVIDER_ID}
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
