[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=https://kubernetes.io/docs/home/

[Service]
ExecStart=/usr/bin/kubelet \
  --config=/etc/kubernetes/kubelet/config.yaml \
  --kubeconfig=/var/lib/kubelet/kubeconfig
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
