apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: "{{ (lookup('file', certs_dir + '/ca.pem') | b64encode).strip() }}"
    server: "{{ k8s_endpoint }}"
  name: k8s-labs
contexts:
- context:
    cluster: k8s-labs
    user: "{{ kubeconfig_user }}"
  name: default
current-context: default
users:
- name: "{{ kubeconfig_user }}"
  user:
    client-certificate-data: "{{ (lookup('file', kubeconfig_client_cert) | b64encode).strip() }}"
    client-key-data: "{{ (lookup('file', kubeconfig_client_key) | b64encode).strip() }}"
