apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: "${ca_base64}"
    server: "${server}"
  name: k8s-labs
contexts:
- context:
    cluster: k8s-labs
    user: "${user}"
  name: default
current-context: default
users:
- name: "${user}"
  user:
    client-certificate-data: "${client_cert_b64}"
    client-key-data: "${client_key_b64}"
