#cloud-config
users:
  - default
  - name: root
    ssh_authorized_keys:
      - ${ssh_public_key}
ssh_pwauth: false
disable_root: false

# Grow the root partition/LVM to the disk once on first boot
runcmd:
  - [ /usr/local/sbin/resize-rootfs.sh ]
