[defaults]
host_key_checking = False
inventory = inventory/tf-inventory.sh
remote_user = root
gathering = explicit
collections_path = collections
roles_path = roles/
stdout_callback = yaml
callback_whitelist = profile_tasks

[ssh_connection]
pipelining = True
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=~/.cache/ansible/cp/%%h-%%p-%%r
